<div class="sobre-container" appHighlight>
    <h1 appHighlight>Estante Digital</h1>
   
  
    <p appHighlight="red">
      Bem-vindo à Estante Virtual, um espaço digital inovador onde o conhecimento e a imaginação se encontram! Nossa biblioteca oferece uma coleção vasta e diversificada de títulos, abrangendo desde clássicos da literatura até as mais recentes publicações em ficção, ciência, educação, e muito mais. Projetada para proporcionar uma experiência de leitura prática e acessível, a Estante Digital está disponível 24/7, permitindo que você explore e desfrute do universo literário onde e quando quiser.
    </p>
  
    <p appHighlight="blue">
      Aqui, você encontrará recursos exclusivos, como busca avançada, recomendações personalizadas e ferramentas que tornam a leitura ainda mais envolvente. Seja para estudo, lazer ou desenvolvimento pessoal, a Estante Virtual é o lugar perfeito para todos os apaixonados por livros. Junte-se a nós e descubra um mundo ilimitado de histórias, ideias e conhecimento ao alcance de um clique!"
    </p>
    
    <div><a routerLink="/home" class="button">HOME</a></div>
  </div>
  